<h3>Import CSV</h3>
<fieldset>
    <legend>Import</legend>
    <form method="post" asp-controller="student" asp-action="import" enctype="multipart/form-data">
        File <input type="file" name="file" />
        <br />
        <input type="submit" value="Import" />
    </form>
</fieldset>