@model DemoSession_1.Models.Question
<h1>Question List</h1>
 
<form method="post" asp-action="submit" asp-controller="q">
<ol>
    @foreach (var question in ViewBag.questions)
    {
        <li>
            @question.Content
            <ol type="a">
                @foreach (var answer in question.Answers)
                {
                    <li>
                        <input type="radio" name="question_@question.Id" value="@answer.Id">
                        @answer.Content
                    </li>
                }
            </ol>
        </li>
        
    }
</ol>
<br />
<input type="submit" value="Submit" />
</form>