@model DemoSession2_MVC.Models.Account
<h1>Profile </h1>
<form method="post" asp-controller="account" asp-action="profile">
    Username <input type="text" asp-for="username" />
    Fullname <input type="text" asp-for="fullname" />

</form>


