<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("css", false)
</head>
<body>
    <div>
        <a asp-controller="home" asp-action="index">Home</a> |
        <a asp-controller="aboutus" asp-action="index">About Us</a> |
        <a asp-controller="news" asp-action="index">News</a> |
        <a asp-controller="contact" asp-action="index">Contact</a> |


        <br />
        <br />
        @RenderBody()
        <br />
        <br />
        Copyright
    </div>
</body>
</html>
