@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>About Us Page</h1>
<a asp-controller="aboutus" asp-action="aboutus1">
    About Us 1
</a>
|
<a asp-controller="aboutus" asp-action="aboutus2">
    About Us 2
</a>
<br />
<br />
@RenderBody()
