@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Home Page</h1>

<a asp-area="admin" asp-controller="invoice" asp-action="index">Invoice Admin</a>
<a asp-area="customer" asp-controller="comment" asp-action="index">Commnet Customer</a>

