@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Contact Page</h1>
<a asp-controller="contact" asp-action="contact1">
    Contact 1
</a>
|
<a asp-controller="contact" asp-action="contact2">
    Contact 2
</a>
<br />
<br />
@RenderBody()
